.layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  background-image: url('../images/montain-1.png');
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: repeat-y;
  font-family: Satoshi, sans-serif;
  color: #fff;
}

.hero-wrapper {
  min-height: 880px;
  margin-top: 0rem;
  background-color: transparent;
}

.top-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cow-vector-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  padding-right: 2rem;
  padding-left: 2rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.meat-type-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image {
  width: 100%;
}

.image-2 {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.bottom-hero-wrapper {
  position: relative;
  top: -210px;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  margin-top: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: url('../images/header_slogan_4_2.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column-wrapper._1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-clip: content-box;
  -webkit-text-fill-color: inherit;
}

.heading {
  position: relative;
  top: -149px;
  text-align: center;
}

.heading-banner {
  position: static;
  left: auto;
  z-index: 1;
  color: #583ea4;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.heading-banner.under {
  font-weight: 400;
}

.banner-block {
  position: relative;
  left: 26px;
  top: -51px;
}

.banner-block.two {
  left: -78px;
}

.about-us-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 13rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none none solid;
  border-width: 0.5rem 0.5rem 0.2rem;
  border-color: #dbd5ea;
  background-color: #6950a4;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
}

.button-wrapper.jellly-bean {
  background-image: url('../images/Ellipse-3.svg');
  background-position: 50% 50%;
  background-size: 120px;
  background-repeat: no-repeat;
}

.item-grid-wrapper {
  margin-top: 0rem;
  padding: 5rem 1rem 2rem;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.item-grid-wrapper.recepies {
  padding-bottom: 5rem;
}

.item-grid {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: center;
  -webkit-align-content: end;
  -ms-flex-line-pack: end;
  align-content: end;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.item-grid.product {
  padding-bottom: 3rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 17rem;
  height: 19rem;
  padding: 2rem 0.8rem 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, 0.22);
}

.item-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item-image._2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.item-name {
  position: static;
  color: #5b3aa8;
  font-weight: 700;
}

.item-price {
  text-align: right;
}

.recepies-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(225, 220, 237, 0.95);
}

.recipe-heading {
  color: #5b3aa8;
  font-weight: 700;
  text-align: center;
}

.review-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 2rem;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
}

.review-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews-heading {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #684fa3;
}

.review-list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.review-item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-right: 1px solid #6950a4;
}

.review-text {
  padding-right: 9px;
  padding-left: 7px;
  color: #684fa3;
}

.newsletter-sign-up-wrapper {
  padding: 2rem 3rem;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-color: #6950a4;
  text-align: center;
}

.newsletter-heading {
  margin-top: 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.signup-textarea {
  position: absolute;
}

.signup-button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3rem;
  padding-left: 3rem;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #fff;
  color: #6950a4;
}

.footer-button {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.heading-6 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  text-align: center;
}

.track-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.logo-wrapper {
  padding-left: 2rem;
}

.navbar-buttons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button-text {
  width: 100%;
  padding: 1rem 1.8rem;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
}

.button-text:hover {
  -webkit-transform: translate(5px, -5px);
  -ms-transform: translate(5px, -5px);
  transform: translate(5px, -5px);
}

.button-text.jelly-bean {
  background-image: none;
  color: #684fa3;
  font-weight: 500;
  letter-spacing: 0rem;
}

.button-text.shopall {
  background-image: url('../images/Ellipse-3.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-image: url('../images/rumpsteak-estancia-steakhouse-dresden.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-wrapper.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url('../images/T-Bone.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-wrapper.main:hover {
  background-image: url('../images/Verpackung_TBone_2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-wrapper.wrapped {
  display: none;
}

.image-wrapper.two {
  background-image: url('../images/rumpsteak-estancia-steakhouse-dresden.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-wrapper.two:hover {
  background-image: url('../images/Verpackung_Rumpsteak_2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-wrapper.three {
  background-image: url('../images/wagyufilet_900x.webp');
  background-position: 50% 50%;
  background-size: contain;
}

.image-wrapper.three:hover {
  background-image: url('../images/Verpackung_Filet_2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-wrapper.four {
  background-image: url('../images/Wagyu_sirloin.png');
  background-position: 50% 50%;
  background-size: contain;
}

.image-wrapper.four:hover {
  background-image: url('../images/Verpackung_Sirloin_2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-showcase-wrapper {
  padding-left: 0px;
  background-color: #6950a4;
}

.email-text-area {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e1dced;
}

.email-text-area-placeholder {
  margin-left: 1.8rem;
  color: #6950a4;
}

.heading-7 {
  font-weight: 400;
}

.footer-heading {
  font-weight: 400;
}

.hero-image-wrapper {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/Teilstuck_Sirloin_2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-image-wrapper:active {
  background-image: url('../images/KuhSteak_Tbone_H.png');
  background-position: 50% 50%;
  background-size: contain;
}

.stamp-wrapper {
  position: absolute;
  left: auto;
  top: auto;
  right: 4%;
  bottom: -31%;
  width: 15rem;
  height: 15rem;
  background-image: url('../images/Stempel_2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {
  .hero-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .banner-block {
    left: 6rem;
  }

  .about-us-wrapper {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
  }

  .grid-item-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 20rem;
    height: 25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .item-name {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .item-name.recipe {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .item-price {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .recipe-heading {
    background-color: rgba(206, 186, 255, 0.8);
    color: #fff;
    font-weight: 900;
    text-align: center;
  }

  .review-wrapper {
    position: static;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
  }

  .review-heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .reviews-heading {
    margin-top: 10px;
    font-weight: 700;
  }

  .review-list-wrapper {
    overflow: hidden;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    white-space: normal;
  }

  .review-item-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .review-text {
    padding: 1rem 0.5rem;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-right: 1px solid #6d56a6;
    font-size: 16px;
    line-height: 22px;
  }

  .newsletter-sign-up-wrapper {
    background-color: #6850a4;
  }

  .footer-wrapper {
    background-color: #fff;
  }

  .footer-button {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .track-horizontal {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .navbar-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
  }

  .logo-wrapper {
    padding-top: 0rem;
    padding-right: 2rem;
    padding-left: 2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .navbar-buttons-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .hero-image-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .hero-wrapper {
    min-height: 500px;
    margin-top: 5.7rem;
  }

  .cow-vector-wrapper {
    height: 40vh;
  }

  .image {
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .bottom-hero-wrapper {
    top: -115px;
    height: 400px;
    margin-top: 0px;
    background-image: url('../images/header_slogan_4_2.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .heading {
    top: -74px;
    font-size: 30px;
    line-height: 36px;
  }

  .heading-banner {
    font-size: 12px;
    line-height: 18px;
  }

  .banner-block {
    left: 50px;
  }

  .banner-block.two {
    left: -43px;
  }

  .about-us-wrapper {
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .button-wrapper {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  .item-grid-wrapper {
    -o-object-fit: fill;
    object-fit: fill;
  }

  .item-grid.product {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid-item-wrapper {
    width: 14rem;
    height: 16rem;
  }

  .recepies-wrapper {
    padding-top: 3rem;
  }

  .heading-6 {
    font-size: 34px;
    line-height: 38px;
  }

  .logo-wrapper {
    padding-left: 0rem;
  }

  .button-text {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 0.8rem;
  }

  .image-wrapper {
    width: 12rem;
    height: 13rem;
  }

  .hero-image-wrapper {
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .stamp-wrapper {
    bottom: -3%;
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .cow-vector-wrapper {
    height: 25vh;
  }

  .bottom-hero-wrapper {
    top: -149px;
    background-size: contain;
  }

  .heading {
    top: -59px;
    font-size: 20px;
    line-height: 26px;
  }

  .heading-banner {
    margin-top: 20px;
    font-size: 10px;
    line-height: 12px;
  }

  .banner-block {
    left: 35px;
    top: -34px;
    font-size: 14px;
  }

  .banner-block.two {
    left: -31px;
  }

  .button-wrapper {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgba(105, 80, 164, 0.81);
  }

  .button-wrapper.jellly-bean {
    background-color: transparent;
  }

  .item-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item-wrapper {
    background-color: hsla(0, 0%, 100%, 0.53);
  }

  .logo-wrapper {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .navbar-buttons-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .button-text {
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }

  .button-text.shopall {
    -webkit-transition-property: none;
    transition-property: none;
  }

  .button-text.shopall:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .button-text.signup {
    background-image: url('../images/Ellipse-2.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition-property: none;
    transition-property: none;
  }

  .button-text.signup:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .hero-image-wrapper {
    background-position: 50% 50%;
  }

  .stamp-wrapper {
    bottom: 11%;
  }
}

@media screen and (max-width: 479px) {
  .hero-wrapper {
    min-height: auto;
    margin-top: 0rem;
    padding-top: 2rem;
  }

  .top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cow-vector-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .bottom-hero-wrapper {
    position: relative;
    top: -44px;
    height: 200px;
    margin-top: 0px;
    background-image: url('../images/header_slogan_4_2.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .heading {
    top: -36px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 16px;
  }

  .heading-banner {
    margin-bottom: 0px;
    font-size: 6px;
    line-height: 8px;
  }

  .heading-banner.under {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .banner-block {
    left: 21px;
    top: -23px;
  }

  .banner-block.two {
    left: -15px;
  }

  .about-us-wrapper {
    margin-top: 0px;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .button-wrapper {
    height: 2rem;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-color: rgba(104, 76, 169, 0);
  }

  .button-wrapper.jellly-bean {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .item-grid-wrapper {
    margin-top: 0rem;
  }

  .item-grid-wrapper.recepies {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .item-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .item-grid.product {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .recepies-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .recipe-heading {
    display: block;
    margin-top: 10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    white-space: pre;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .newsletter-heading {
    font-size: 20px;
    line-height: 24px;
    white-space: break-spaces;
  }

  .signup-button {
    padding-right: 10px;
    padding-left: 10px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-6 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }

  .navbar-wrapper {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #6950a4;
  }

  .navbar-buttons-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .button-text {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .product-showcase-wrapper {
    padding-top: 3rem;
    background-color: #6950a4;
  }

  .footer-heading {
    font-size: 12px;
    line-height: 12px;
  }

  .recipe-heading-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    white-space: break-spaces;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero-image-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: url('../images/KuhSteak_Sirloin_V-1.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hero-image-wrapper:hover {
    background-image: url('../images/KuhSteak_Tbone_V-1.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .stamp-wrapper {
    bottom: 29%;
    width: 5rem;
    height: 5rem;
  }
}

#verpackung_tbone {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#tbone {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#rumpsteak {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#wagyufilet {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#wagyusirloin {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#recipe_pepper {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#recipe_basil {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#recipe_marinated {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (min-width: 1280px) {
  #recipe_basil {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

@media screen and (max-width: 767px) {
  #recipe_marinated {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #recipe_marinated {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Satoshi Variable';
  src: url('../fonts/Satoshi-Variable.ttf') format('truetype'), url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi Variable';
  src: url('../fonts/Satoshi-VariableItalic.ttf') format('truetype'), url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}